<% provide(:title, "TITLE") %>
<% provide(:description, "Description" ) %>
<% provide(:keywords, "keyword1, keyword2")%>

<h1 class="page-header text-center">Bootstrapversions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Url name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bootstrapversions.each do |bootstrapversion| %>
      <tr>
        <td><%= bootstrapversion.name %></td>
        <td><%= bootstrapversion.url_name %></td>
        <td><%= link_to 'Show', bootstrapversion %></td>
        <td><%= link_to 'Edit', edit_bootstrapversion_path(bootstrapversion) %></td>
        <td><%= link_to 'Destroy', bootstrapversion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bootstrapversion', new_bootstrapversion_path, :class => "btn btn-success" %>